mobile-id{display: inline;}

desktop-id{display:none;}

body {color: #000000; background-color: #A7A2A1; font-family: veranda; margin: 0;}

h2{color: #9c1616; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}